name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job:
          - J001
    steps:
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Check out code
        uses: actions/checkout@v1
      - name: Show environment
        run: env
      - name: Run test job ${{ matrix.job }}
        run: ./test.py ${{ matrix.job }}
