name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job:
          - J001
          - J002
    steps:
      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Check out code
        uses: actions/checkout@v5
      - name: Run test job ${{ matrix.job }}
        run: ./test.py ${{ matrix.job }}
