name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job:
          - J001
          - J002
          - J003
          - J004
          - J005
          - J006
          - J007
          - J008
          - J009
          - J010
          - J011
          - J012
          - J013
          - J014
          - J015
          - J016
          - J017
          - J018
          - J019
          - J020
          - J021
          - J022
          - J023
          - J024
          - J025
          - J026
          - J027
          - J028
          - J029
          - J030
          - J031
          - J032
          - J033
          - J034
          - J035
          - J036
          - J037
          - J038
          - J039
          - J040
          - J041
          - J042
          - J043
          - J044
          - J045
          - J046
          - J047
          - J048
          - J049
          - J050
          - J051
          - J052
          - J053
          - J054
          - J055
          - J056
          - J057
          - J058
          - J059
          - J060
          - J061
          - J062
          - J063
          - J064
          - J065
          - J066
          - J067
          - J068
          - J069
          - J070
          - J071
          - J072
          - J073
          - J074
          - J075
          - J076
          - J077
          - J078
          - J079
          - J080
          - J081
          - J082
          - J083
          - J084
          - J085
          - J086
          - J087
          - J088
          - J089
          - J090
          - J091
          - J092
          - J093
          - J094
          - J095
          - J096
          - J097
          - J098
          - J099
          - J100
          - J101
          - J102
          - J103
          - J104
          - J105
          - J106
          - J107
          - J108
          - J109
          - J110
          - J111
          - J112
          - J113
          - J114
          - J115
          - J116
          - J117
          - J118
          - J119
          - J120
          - J121
          - J122
          - J123
          - J124
          - J125
    steps:
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Check out code
        uses: actions/checkout@v1
      - name: Run test job ${{ matrix.job }}
        run: ./test.py ${{ matrix.job }}
